@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';
* {
    font-family: 'PT Sans', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

:root {
    --black: #171717;
    --black-dark: #000000;
    --black-light: #373737;
    --black-lighter: #979797;
    --blue: #4A90E2;
    --white: #ffffff;
    --gray: #CECECE;
    --gray-dark: #666666;
  }

  .post-title {
      font-size: .9375rem;
      font-weight: bold;
      color: var(--white)
  }

  .post-author {
      font-size: .875rem;
      font-style: italic;
      color: var(--gray);
  }

  .color-black {
    color: var(--black);
  }
