<mat-toolbar class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <span class="d-flex align-items-center">
          Premium <app-badge content="CAR"></app-badge>
        </span>
      </div>
      <div class="col-md-8 d-flex justify-content-center">
        <button mat-button>Home</button>
        <button mat-button>Recipes</button>
        <button mat-button>Article</button>
        <button mat-button>Contact</button>
        <button mat-button>Purchase</button>
      </div>
      <div class="col-md-2 d-flex justify-content-end">
        <button mat-icon-button class="" aria-label="Search button">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>