.header {
    height: 90px;
    background-color: var(--black-dark);
    color: var(--white);
}

.country-flag {
    width: 1.5rem;
    height: auto;
    margin-right: .5rem;
}

.lang-menu-item, app-menu-items {
    display: flex;
    align-items: center;
}