<div class="login-container">
  <div class="login-form">
    <p class="login-title d-flex justify-content-center">{{ 'LOGIN.TITLE' | translate }}</p>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'LOGIN.USER-INPUT' | translate }}</mat-label>
        <input matInput formControlName="email" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'LOGIN.PASSWORD-INPUT' | translate }}</mat-label>
        <input matInput formControlName="password" autocomplete="off" type="password">
      </mat-form-field>
      <button mat-flat-button class="btn-dark">{{ 'LOGIN.SUBMIT' | translate }}</button>
    </form>
  </div>
</div>
