.post-content {
    margin-bottom: 1.5rem;
}

.post-image {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
    border-radius: 3px;
}

.post-title {
    font-size: .9375rem;
    font-weight: bold;
}

.post-author {
    font-size: .875rem;
    font-style: italic;
    color: #CECECE;
}