.post-image {
  border-radius: 4px;
  height: 12.5rem;
  padding: 1.25rem;
  margin: 1.25rem 0;
}

.post-info {
  margin-bottom: 2rem;
}

.post-author {
  color:var(--gray-dark);
  margin-top: .75rem;
}
